<div class="circle" data-x="<%= x %>" data-y="<%= y %>" data-s="<%= s %>">
  <div class="circle__opacity">
    <div class="circle__jitter">
      <div class="circle__scale">
        <img class="circle__image" src="images/bh.jpg"></div>
    </div>
  </div>
  <div class="circle__center"></div>
</div>
