<div class="circle" data-start-x="<%= x %>" data-start-y="<%= y %>" data-start-s="<%= s %>">
  <div class="circle__contents">
    <div class="circle__jitter">
      <div class="circle__scale">
        <img class="circle__image" src="images/bh.jpg"></div>
    </div>
  </div>
  <div class="circle__center"></div>
</div>
