html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}

body {
  background-color: #f7f8f9;
}

.container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container--main {
  max-width: 1440px;
  padding: 0;
}
